{% for category in categories %}
    <li style="background-color:rgba(171,171,171,0.1); border-radius: 10px" >
        <a href="{{ path('showByCategory', {'id':category.id}) }}">
            <span class="glyphicon glyphicon-chevron-right"></span>
            {{ category.name }}
            {#({{ category.advertisments|length }})#}
        </a>
    </li>
{% endfor %}