{% extends 'base.html.twig' %}

{% block body %}
    {#<ul><h2>To do list</h2>#}
        {#<li>Hide after expired time</li>#}
        {#<li>Update Categories</li>#}
        {#<li>Connect with email</li>#}
        {#<li>Messages between users</li>#}
        {#<li>Numbers of adverts in category</li>#}
        {#<li>Delete images</li>#}
    {#</ul>#}
    {#<br/>#}
    {#<p>Dodam tutaj za pomocą jakich narzędzi zrobiłem, jakie ma funkcjonalności, co ta stronka robi po co jest :D</p>#}

    <h1 class="text-center">Lasts advertisments</h1>

    <div class="">
        {% if adverts|length %}
            {% for advertisment in adverts %}
                {% include 'advertisment/advBox.html.twig' %}
            {% endfor %}
        {% else %}
            <strong>Brak danych...</strong>
        {% endif %}
    </div>
{% endblock %}
