{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Advertisements list</h1>

    <div class="">
        {% if adverts|length %}
            {% for advertisment in adverts %}
                {% include 'advertisment/advBox.html.twig' %}
            {% endfor %}
        {% else %}
            <strong>Brak danych...</strong>
        {% endif %}
    </div>
{% endblock %}