body {
    background-image: url("../images/background.png");
}

/* unvisited link */
.titleLink:link {
    color: white;
}

/* visited link */
.titleLink:visited {
    color: white;
}

/* mouse over link */
.titleLink:hover {
    color: black;
}

/* selected link */
.titleLink:active {
    color: green;
}

.img {
    margin:0 auto;
    position: relative;
    width: 242px;
    height: 200px;
    overflow: hidden;
}

.img img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.img img.portrait {
    width: 100%;
    height: auto;
}
