{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-center">Advertisements list</h1>

    <div class="">
        {% for advertisment in advertisments %}
            {% include 'advertisment/advBox.html.twig' %}
        {% endfor %}
    </div>

{% endblock %}
